.userform {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.userform-item-title {
  margin-bottom: 20px;
}

.userform-item {
  margin-bottom: 30px;
}
